# Proyecto Final: Procesamiento de datos de datos de supermercados


### 1. Demo Final:
  - Conocimiento aprendido durante el curso de Python
  -Utilizar las principales herramientas que facilitan el analisis de datos
  -Validar que procesos son mas optimos al momento de transformar dataset de gran cantidad de datos

In [1]:
import pandas as pd #Se importa la libraria de panda

In [2]:
try:
    df_ventas = pd.read_csv("validados/ventas_clean.csv", index_col="Unnamed: 0", sep = ',', dtype={"UPC":  "string"})
except Exception as e:
       print("Error al momento de cargar el dataframe"+e)
finally:
        print("Se ha cargado el proceso de venta mensual")
#df_ventas =df_ventas.drop(columns=["Unnamed: 0"])
df_ventas.head(1000)

Se ha cargado el proceso de venta mensual

,factura_id,ciudad,tipo_cliente,genero,linea_producto,precio,cantidad,impuesto_5,total,fecha,hora,pago,rating,Producto_id,tienda_id,fecha_larga
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,01/05/2019,13:08,Ewallet,9.1,2.0,1,01/05/2019 13:08
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,03/08/2019,10:29,Cash,9.6,3.0,4,03/08/2019 10:29
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,03/03/2019,13:23,Credit card,7.4,4.0,5,03/03/2019 13:23
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,01/27/2019,20:33,Ewallet,8.4,5.0,6,01/27/2019 20:33
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,02/08/2019,10:37,Ewallet,5.3,6.0,7,02/08/2019 10:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,690-01-6631,Mandalay,Normal,Male,Fashion accessories,17.49,10.0,8.7450,183.6450,02/22/2019,18:35,Ewallet,6.6,4.0,6,02/22/2019 18:35
995,233-67-5758,Naypyitaw,Normal,Male,Health and beauty,40.35,1.0,2.0175,42.3675,01/29/2019,13:46,Ewallet,6.2,34.0,8,01/29/2019 13:46
996,303-96-2227,Mandalay,Normal,Female,Home and lifestyle,97.38,10.0,48.6900,1022.4900,03/02/2019,17:16,Ewallet,4.4,6.0,1,03/02/2019 17:16
998,347-56-2442,Yangon,Normal,Male,Home and lifestyle,65.82,1.0,3.2910,69.1110,02/22/2019,15:33,Cash,4.1,1.0,3,02/22/2019 15:33
999,849-09-3807,Yangon,Member,Female,Fashion accessories,88.34,7.0,30.9190,649.2990,02/18/2019,13:28,Cash,6.6,1.0,7,02/18/2019 13:28

In [3]:
#se carga el catalogo de tienda
df_pdv = pd.read_csv("validados/pdv_clean.csv",  index_col="Unnamed: 0", sep = ',',encoding = 'utf8')
#df_ventas =df_ventas.drop(columns=["Unnamed: 0"])
df_pdv.head(1000)

   ID                          Pos        Direccion     Pais
0   1          Super 98 1-Penonome          Penonome  PanamÃ¡
1   2        Super 98 9-Vista Real        Vista Real  PanamÃ¡
2   3           Super 98 2-Central           Central  PanamÃ¡
3   4           Super 98 3-Palermo           Palermo  PanamÃ¡
4   5          Super 98 4- Mercado           Mercado  PanamÃ¡
5   6         Super 98 5- Terminal          Terminal  PanamÃ¡
6   7  Super 98 6- Canto del Llano   Canto del Llano  PanamÃ¡
7   8          Super 98 7- Guarare           Guarare  PanamÃ¡

In [4]:
#Se carga el catalogo de productos de las tiendas
df_sku = pd.read_csv("validados/productos_clean.csv",  index_col="Unnamed: 0", sep = ',',encoding = 'utf8', dtype={"UPC":  "string"})
df_sku.head(1000)

      ID                            Sku          UPC      Marca Empaque
0      1     DOUBLEMINT 5 STICK PACKAGE  22000002020  WRIGLEY`S   5STIC
1      2    JUICE FRUIT 5 STICK PACKAGE  22000002037  WRIGLEY`S   5STIC
2      3           WINTERFRESH 5 STICKS  22000002082  WRIGLEY`S   5STIC
3      4         DOUBLEMINT 15 STK SLIM  22000006660  WRIGLEY`S   UNID.
4      5  ECLIPSE GUM PEPPERMINT 8/18CT  22000013194    ECLIPSE     9'U
..   ...                            ...          ...        ...     ...
306  307  OLD SPICE BODY WASH FIJI 3IN1  37000267904  OLD SPICE   473ML
307  308        CHARMIN ULTRA SOFT 12PK  37000285823    CHARMIN    12PK
308  309   4PK CHARMIN ULTRA SOFT 176CT  37000296850    CHARMIN    4'R.
309  310   CREST KIDS CAVITY PROTECTION  37000314981      CREST   UNID.
310  311  CD CREST COMPLET WHITEN 6.2OZ  37000427285      CREST   6.2OZ

[311 rows x 5 columns]

In [6]:
#Procedemos a hacer el inner join inicialmente de los pdv
pd_datos_pdv= pd.merge(df_ventas, df_pdv, left_on ="tienda_id",  right_on ="ID", how = "inner" )
pd_datos_pdv

,factura_id,ciudad,tipo_cliente,genero,linea_producto,precio,cantidad,impuesto_5,total,fecha,hora,pago,rating,Producto_id,tienda_id,fecha_larga,ID,Pos,Direccion,Pais
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,01/05/2019,13:08,Ewallet,9.1,2.0,1,01/05/2019 13:08,1,Super 98 1-Penonome,Penonome,PanamÃ¡
1,355-53-5943,Yangon,Member,Female,Electronic accessories,68.84,6.0,20.6520,433.6920,02/25/2019,14:36,Ewallet,5.8,7.0,1,02/25/2019 14:36,1,Super 98 1-Penonome,Penonome,PanamÃ¡
2,365-64-0515,Yangon,Normal,Female,Electronic accessories,46.95,5.0,11.7375,246.4875,02/12/2019,10:25,Ewallet,7.1,3.0,1,02/12/2019 10:25,1,Super 98 1-Penonome,Penonome,PanamÃ¡
3,319-50-3348,Mandalay,Normal,Female,Home and lifestyle,40.30,2.0,4.0300,84.6300,03/11/2019,15:30,Ewallet,4.4,8.0,1,03/11/2019 15:30,1,Super 98 1-Penonome,Penonome,PanamÃ¡
4,227-03-5010,Yangon,Member,Female,Home and lifestyle,52.59,8.0,21.0360,441.7560,03/22/2019,19:20,Credit card,8.5,6.0,1,03/22/2019 19:20,1,Super 98 1-Penonome,Penonome,PanamÃ¡
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,235-06-8510,Naypyitaw,Member,Male,Home and lifestyle,85.72,3.0,12.8580,270.0180,01/24/2019,20:59,Ewallet,5.1,2.0,2,01/24/2019 20:59,2,Super 98 9-Vista Real,Vista Real,PanamÃ¡
966,784-08-0310,Naypyitaw,Member,Female,Food and beverages,21.04,4.0,4.2080,88.3680,01/13/2019,13:58,Cash,7.6,7.0,2,01/13/2019 13:58,2,Super 98 9-Vista Real,Vista Real,PanamÃ¡
967,256-58-3609,Naypyitaw,Member,Male,Fashion accessories,91.98,1.0,4.5990,96.5790,03/18/2019,15:29,Cash,9.8,6.0,2,03/18/2019 15:29,2,Super 98 9-Vista Real,Vista Real,PanamÃ¡
968,156-20-0370,Mandalay,Normal,Female,Electronic accessories,25.45,1.0,1.2725,26.7225,03/10/2019,18:10,Credit card,5.1,3.0,2,03/10/2019 18:10,2,Super 98 9-Vista Real,Vista Real,PanamÃ¡
969,374-38-5555,Mandalay,Normal,Female,Fashion accessories,63.71,5.0,15.9275,334.4775,02/07/2019,19:30,Ewallet,8.5,8.0,2,02/07/2019 19:30,2,Super 98 9-Vista Real,Vista Real,PanamÃ¡

In [7]:
#Se hace el join del catalogo de los sku
pd_datos_raw= pd.merge(pd_datos_pdv, df_sku, left_on ="Producto_id",  right_on ="ID", how = "inner" )
pd_datos_raw

,factura_id,ciudad,tipo_cliente,genero,linea_producto,precio,cantidad,impuesto_5,total,fecha,...,fecha_larga,ID_x,Pos,Direccion,Pais,ID_y,Sku,UPC,Marca,Empaque
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,01/05/2019,...,01/05/2019 13:08,1,Super 98 1-Penonome,Penonome,PanamÃ¡,2,JUICE FRUIT 5 STICK PACKAGE,22000002037,WRIGLEY`S,5STIC
1,149-71-6266,Mandalay,Member,Male,Sports and travel,78.07,9.0,35.1315,737.7615,01/28/2019,...,01/28/2019 12:43,1,Super 98 1-Penonome,Penonome,PanamÃ¡,2,JUICE FRUIT 5 STICK PACKAGE,22000002037,WRIGLEY`S,5STIC
2,617-15-4209,Naypyitaw,Member,Male,Health and beauty,15.37,2.0,1.5370,32.2770,03/16/2019,...,03/16/2019 19:47,1,Super 98 1-Penonome,Penonome,PanamÃ¡,2,JUICE FRUIT 5 STICK PACKAGE,22000002037,WRIGLEY`S,5STIC
3,347-34-2234,Mandalay,Member,Female,Sports and travel,55.07,9.0,24.7815,520.4115,02/03/2019,...,02/03/2019 13:40,1,Super 98 1-Penonome,Penonome,PanamÃ¡,2,JUICE FRUIT 5 STICK PACKAGE,22000002037,WRIGLEY`S,5STIC
4,732-94-0499,Naypyitaw,Normal,Female,Electronic accessories,41.65,10.0,20.8250,437.3250,01/13/2019,...,01/13/2019 17:04,1,Super 98 1-Penonome,Penonome,PanamÃ¡,2,JUICE FRUIT 5 STICK PACKAGE,22000002037,WRIGLEY`S,5STIC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,425-85-2085,Mandalay,Member,Male,Health and beauty,54.86,5.0,13.7150,288.0150,03/29/2019,...,03/29/2019 16:48,8,Super 98 7- Guarare,Guarare,PanamÃ¡,45,VETADO VAINI CARAM 1/4 GL,7.441E+12,DOS PINOS,1/4GL
966,235-46-8343,Naypyitaw,Member,Male,Food and beverages,27.66,10.0,13.8300,290.4300,02/14/2019,...,02/14/2019 11:26,3,Super 98 2-Central,Central,PanamÃ¡,45,VETADO VAINI CARAM 1/4 GL,7.441E+12,DOS PINOS,1/4GL
967,131-15-8856,Naypyitaw,Member,Female,Food and beverages,72.52,8.0,29.0080,609.1680,03/30/2019,...,03/30/2019 19:26,2,Super 98 9-Vista Real,Vista Real,PanamÃ¡,45,VETADO VAINI CARAM 1/4 GL,7.441E+12,DOS PINOS,1/4GL
968,186-79-9562,Mandalay,Normal,Male,Health and beauty,71.77,7.0,25.1195,527.5095,03/29/2019,...,03/29/2019 14:06,2,Super 98 9-Vista Real,Vista Real,PanamÃ¡,45,VETADO VAINI CARAM 1/4 GL,7.441E+12,DOS PINOS,1/4GL
969,431-66-2305,Mandalay,Normal,Female,Electronic accessories,88.25,9.0,39.7125,833.9625,02/15/2019,...,02/15/2019 20:51,2,Super 98 9-Vista Real,Vista Real,PanamÃ¡,45,VETADO VAINI CARAM 1/4 GL,7.441E+12,DOS PINOS,1/4GL

In [8]:
#Funcion para obtener la venta que seria la multiplicacio del precio por la cantidad
def get_venta_valor(precio, cantidad):
    return precio*cantidad

In [9]:
#Se usa apply para crear un campo con la funcion  get_venta_valor que recibe dos parametros
pd_datos_raw['venta'] = pd_datos_raw.apply(lambda x: get_venta_valor(x['precio'], x['cantidad']), axis=1)

In [10]:
#Se verifica los tipos de datos
pd_datos_raw.dtypes

factura_id         object
ciudad             object
tipo_cliente       object
genero             object
linea_producto     object
precio            float64
cantidad          float64
impuesto_5        float64
total             float64
fecha              object
hora               object
pago               object
rating            float64
Producto_id       float64
tienda_id           int64
fecha_larga        object
ID_x                int64
Pos                object
Direccion          object
Pais               object
ID_y                int64
Sku                object
UPC                string
Marca              object
Empaque            object
venta             float64
dtype: object

In [11]:
#Se verifica las dimensiones del nuevo datagrame
pd_datos_raw.shape

(970, 26)

In [12]:
#se verifica las cantidades para ver si el sku en cuanto pdv estan

pd_datos_raw.groupby("UPC")["Pos"].value_counts()

UPC          Pos
22000002020  Super 98 1-Penonome      29
             Super 98 3-Palermo       20
             Super 98 5- Terminal     17
             Super 98 9-Vista Real    15
             Super 98 7- Guarare      13
                                      ..
7.441E+12    Super 98 4- Mercado       4
             Super 98 3-Palermo        3
             Super 98 7- Guarare       3
             Super 98 9-Vista Real     3
             Super 98 2-Central        1
Name: Pos, Length: 95, dtype: int64

In [13]:
#Se genera agrupacion de promedio mediana
venta_por_sku = pd_datos_raw.groupby('UPC')['venta'].agg(['mean', 'median', 'std'])
venta_por_sku

                   mean   median         std
UPC
22000002020  317.705887  243.660  229.850825
22000002037  339.711290  260.405  244.121440
22000002082  286.894645  198.750  239.681476
22000006660  323.702268  222.400  246.125769
22000013194  326.362747  285.920  239.639562
22000013200  294.864654  231.120  227.665402
22000013316  314.038022  277.340  251.909437
22000013392  319.875484  318.550  213.454819
22000013439  285.602000  199.310  236.120670
26964726398  256.865147  186.580  211.387249
30100540861  309.228387  297.990  210.270604
7.441E+12    373.570645  333.400  216.318203

In [14]:
#Se genera agrupacion de promedio mediana
venta_por_tienda = pd_datos_raw.groupby('Pos')['venta'].agg(['mean', 'median', 'std'])
venta_por_tienda

                                   mean   median         std
Pos
Super 98 1-Penonome          299.787566  231.465  232.482154
Super 98 2-Central           291.249630  241.200  228.980620
Super 98 3-Palermo           329.260828  274.840  249.409294
Super 98 4- Mercado          295.761597  241.440  205.894366
Super 98 5- Terminal         306.914516  248.760  239.998858
Super 98 6- Canto del Llano  290.119035  198.050  235.511001
Super 98 7- Guarare          337.413158  278.980  249.072493
Super 98 9-Vista Real        300.567179  258.495  218.026811

In [15]:
#Se guarda los resultados en un csv
venta_por_sku.to_csv("resultados/venta_por_sku.csv")

In [16]:
#Se guarda los resultados en un csv
venta_por_tienda.to_csv("resultados/venta_por_tienda.csv")